{% extends "layout.html" %}
{% block content %}

<div class="login-header-section">
    <h1>Register</h1>
    <p>This page is (obviously) under construction and I don't think that I will actually have a register page. But I'm keeping it for reference for now.</p>
</div>
    <div class="form-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="form-headline">Join Today</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-input-field is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-input-field") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-input-field is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-input-field") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-input-field is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-input-field") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-input-field is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-input-field") }}
                    {% endif %}
                </div>
            </fieldset>
                <div class="">
                    {{ form.submit(class="submit-button")}}
                </div>
        </form>
    </div>
    <div class="form-section">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('login') }}" >Sign In</a>

        </small>

    </div>
{% endblock content %}